<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context
       https://www.springframework.org/schema/context/spring-context.xsd">

<bean id="hh" class="com.xyh.boot.bean.User">
    <property name="name" value="xxx"></property>
    <property name="age" value="12"></property>
</bean>
    <bean id="ss" class="com.xyh.boot.bean.Pet">
        <property name="name" value="cc"></property>
    </bean>

</beans>